name: CI

on:
  push:
    branches: [ main ]
    tags-ignore:
      - 'v*'
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-15

    steps:
    - uses: actions/checkout@v4

    - name: Check Swift Version
      run: swift --version

    - name: Build
      run: swift build -c release

    - name: Run Tests
      run: swift test
      continue-on-error: true

    - name: Verify Binary
      run: |
        ./.build/release/osx-bench --help
        ./.build/release/osx-bench info
